body {
    background:black;
}
#canvas{
    //border:1px solid black;
    width:100%;
}
#head{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#logo{
    color:Gold;
    font-family: 'Press Start 2P', cursive;
}
#score{
    color:white;
    font-family: 'Orbitron', sans-serif;
}
#restart{
    width:80%;
    box-sizing:border-box;
    padding:1rem;
    background:royalblue;
    color:black;
    border:none;
    border-radius:8px;
    font-family: 'Orbitron', sans-serif;
}
#rBlock{
    text-align:center;
    display:none;
}
#Alert{
    color:red;
    font-size:80px;
    font-family: 'Orbitron', sans-serif;
}
#alertScreen{
    position:fixed;
    top:0;
    left:30%;
}
#copy{
    color:white;
    text-align:center;
    opacity:0.3;
    font-family: 'Orbitron', sans-serif;
}